.hlo{
    color: blue;
}

.solo{
    height: 320px;
    margin: 70px;
}

.location{
    height: 50px;
    width: 50px;
}

.insta{
    height: 50px;
    width: 50px;
}

.dante{
    height: 320px;
    margin: 70px;
}